.git
archive
*.tar.gz
*.working-*
*.before-*
*.backup
*.bak

data/config.json
data/config.json.*
data/homelab.json
data/homelab.json.*
data/incus-client/
*.key
*.crt

node_modules
npm-debug.log*
.DS_Store
.vscode
.idea
